---
layout: default
title: Schema Host
strapline: Validatable HTML microdata schemas
---
<main>
    <h2>Data Types</h2>
    <ul>
    {% for datatype in datatypes | sortByProperty: "name" %}
        <li itemid="/{{ datatype.name }}" itemscope itemtype="https://schema.host/DataType">
        <a href="/{{ datatype.name }}"><span itemprop="name">{{ datatype.name }}</span></a> 
            - <span itemprop="description">{{ datatype.description }}</span>
        </li>
    {% endfor %}
    </ul>
</main>
