---
layout: default
title: Schema Host
strapline: Validatable HTML microdata schemas
---
<nav>
    <menu itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/">Home</a>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/Schemas">Schemas</a>
        </li>          
    </menu>
</nav>
<main>
    <h2>Schema</h2>
    <ul>
    {% for schema in schemas | sortyByProperty: "name" %}
        <li itemid="/{{ schema.name }}" itemscope itemtype="https://schema.host/Schema">
        <a href="/{{ schema.name }}"><span itemprop="name">{{ schema.name }}</span></a> 
            - <span itemprop="description">{{ schema.description }}</span>
        </li>
    {% endfor %}
    </ul>
</main>